* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top:30px;
    position: fixed;   
}
.navbar {
    height: 60px;
    width: 100%;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    padding:0 20px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#menuBtn {
    font-size: 22px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    margin-left: 20px;
}
#menuBtn:hover{
    color: rgba(219, 183, 210, 0.796);
}
.nav-right{
    margin-left:auto;
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-box{
    gap: 10px;
 
}
.search-box input{
    width: 120px;
    padding: 10px;
    border-radius: 7px;
    border: none; 
}
.category-menu {
    position: relative;
}
.category-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.category-list {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    width: 180px;
    background: rgba(145, 217, 250, 0.979);
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.category-menu:hover .category-list{
    display: block;
}
.category-list p{
    padding: 10px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
}
.category-list p:hover{
    background-color: rgb(245, 235, 223);
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #374151;
    padding-top: 30px;
    position: absolute;
    flex-wrap: 0;
    top: 10px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}
.menu {
    width: 180px;
    padding: 15px ;
    background-color: rgba(249, 248, 246, 0.847);
    color: rgb(6, 1, 1);
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    margin: 18px;
    border-radius: 15px;
    transition:all 0.3s ease;
}
.menu i{
    width:25px;
    margin-right: 10px;
}
.menu:hover {
    background-color: rgba(109, 204, 213, 0.937);
    color: black;
    transform: translateX(10px);  
}
.menu.active{
    background:#e48fa3fc; 
}
.main{
    margin-left: 220px;
    padding-top: 60px;
    height: 100vh;
    overflow: hidden; 
}

.hide{
    display: none !important;
}
.home {
    flex: 1;
    padding: 30px;
}
.home-image{
    width: 450px;
    padding: 15px;
    border-radius: 20px;
    margin-left: 70px;
    animation: bubble 2s ease-in-out infinite;
}
@keyframes bubble {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(10px) scale(1.03);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}
.home-sentence {
    font-size: 22px;
    line-height: 1.6;
    margin-top: 20px;
    font-weight: 500;
    color: rgba(65, 62, 250, 0.915);
}
.product-container {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    padding: 30px;
    overflow-x: auto; 
    background-color: rgba(249, 248, 246, 0.847);   
}
.product-container::-webkit-scrollbar {
    display: none;
}
.product-card {
    width: 220px;
    padding: 15px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.product-card img {
    width: 190px;
    height: 160px;
    object-fit: contain;   
}
.product-card h2 {
    margin: 10px 0;
}
.product-card p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.product-card button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #1f2937;
    color: white;
    cursor: pointer;
}
.product-card:hover{
    cursor: pointer;    
}
.product-card button:hover {
    background: #5e8dd3fb;
    color: #06080b;
}
.product-card button:active{
    transform: scale(1.1);
    transition: 0.3s;
}
 .product-card:active{
    transform: scale(1.1);
    transition: 0.3s;
 }
 .order-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-form {
    background: rgba(248, 245, 245, 0.916);
    padding: 25px;
    width: 400px;
    position: relative;
}
.order-form input,
.order-form select {
    padding: 5px;
    border: 1px solid #cccccce8;
    border-radius: 7px;
}
.close-btn{
    position: absolute;
    right: 2px;
    top:2px;
    padding:0 2px;
    font-size:20px;
    cursor: pointer;
}
.close-btn:hover{
    background-color: red;
    color: white;
}
.place-order{
    width: 100%;
    padding: 10px;
    background: #1f2937;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.feedback-btn {
    position: fixed;
    top: 70px;
    right: 15px;
    padding: 10px 20px;
    background: rgba(250, 246, 246, 0.948);
    color: #1f2937;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.feedback-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-form {
    width: 400px;
    background: rgba(255, 255, 255, 0.886);
    padding: 20px;
    position: relative;
}
.feedback-form h2 {
    margin-bottom: 15px;
}
.feedback-form input,
.feedback-form select {
    padding: 5px;
    border: 1px solid #cccccce8;
    border-radius: 7px;
}
.feedback-close {
    position: absolute;
    right:2px;
    top:2px;
    padding:0 2px;
    font-size:20px;
    cursor: pointer;
} 
.feedback-close:hover {
    background-color: red;
    color: white;
} 
.submit-feedback {
    width: 100%;
    padding: 10px;
    background: #1f2937;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
} 
